// Kolory
$yellow: var(--bg-yellow);
$blue: var(--bg-blue);
$white: var(--txt-white);
$black: var(--txt-black);

// Fonty
$font: var(--font);

$title-font-size: var(--title-font-size);
$subtitle-font-size: var(--subtitle-font-size);
$txt-font-size: var(--txt-font-size);

// Cienie
$shadow: var(--main-shadow);
  
// Marginesy i paddingi
$container-padding: var(--container-padding); 

// Bordery
$radius: var(--border-radius);
